@tailwind base;
@tailwind components;
@tailwind utilities;


.SideBar{
    background-image: url("./images/Слой\ 2\ 1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.SideBar {
  background-image: url("./images/Слой\ 2\ 1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
ul li {
  margin: 10px 0px;
}
.Five {
  background-image: url("./images/Map.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

